#raffy-main-navigation-mobile {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: #fff;
	display: none;
	box-shadow: 0px 6px 17px -8px rgba(0,0,0,0.95);
}
#raffy-main-navigation-mobile > div {
	position: relative;
    padding: 10px;
    min-height: 90px;
}
#raffy-mobile-menu-trigger, #raffy-profile-img-mobile {
	position: absolute;
	display: inline-block;
	padding: 10px;
	top: 5px;
}
#raffy-mobile-menu-trigger {
	left: 10px;
    font-size: 1.8em;
    top: 21px;
}
#raffy-profile-img-mobile {
	right: 10px;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    margin-top: 6px;
    margin-right: 10px;
}
#raffy-profile-img-mobile img {
	position: absolute;
    top: -7px;
    left: -17px;
    width: 100px;
    height: 100px;
}

/*@media screen and (max-width: 568px) {*/
@media screen and (max-width: 800px) {
	#raffy-wrapper {
		margin-top: 50px;
		padding: 20px;
		padding-top: 0;
	}
	#raffy-main-navigation-mobile { 
		display: block;
	}
	#raffy-main-navigation {
		position: fixed;
		top: 0;
		bottom: 0;
		display: block;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
		transform: translateX(-350px);
		transition: transform 0.3s ease-out;
		box-shadow: 10px 2px 33px -11px rgba(0,0,0,0.46);
	}
	#raffy-main-navigation.raff-show-mobile-nav {
		transform: translateX(-50px);
	}
	#raffy-main-navigation #raffy-profile-img {
		display: none;
	}

	#raffy-main-navigation nav {
		float: none;
		display: block;
		margin-top: 80px;;
	}

	#raffy-main-navigation ul {
		padding: 0;
	}

	#raffy-main-navigation li {
		font-size: 1.3em;
		float: none;
		display: block;
		margin-left: 0;
		border-top: 1px solid #ccc;
	}
	#raffy-main-navigation li a {
		display: block;
		width: 100%;
		padding: 20px;
	}
	section.raffy-page-sections {
		padding-top: 80px;
	}
	section.raffy-page-sections p {
		width: 80%;
	}
	ul.raffy-list li {
		width: 99%;	
	}
	#raffy-page-home {
		font-size: 1.2em;
	}
	#raffy-email-container {
		font-size: 1.2em;
		margin-top: 168px;
		width: 100%;
	}
	#raffy-email-container a {
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 10px;
	}
	#raffy-contact-links {
		margin-top: 160;
	}
	#raffy-contact-links a {
		font-size: 0.9em;
	    padding: 10px;
	    margin-right: 0;
	}
}