
@import 'util', 'variables';

body {
    padding: 0;
}


html {
    /* See: https://developers.google.com/web/updates/2013/12/300ms-tap-delay-gone-away */
    touch-action: manipulation;
    &.desktop, .desktop body { 
        overflow: hidden;
        width: 100%;
    }
    .left {float:left;}
    .right {float:right;}
    .clr {clear:both; font-size:0; }
    .hide {display: none;}
    
    body {
        margin: 0;
        padding: 0;
        font-size: 12px;	
        font-family: $font-family;
        position: relative;
        transition: opacity 0.5s ease-out;
        opacity: 0;
        color: #333;
        * {
            box-sizing: border-box;	
        }        
        a, a:link, a:active, a:visited { 
            color:  $link-normal-color; 
            text-decoration: none;
            transition: color 0.3s ease-out, opacity 0.3s ease-out;
        }
        a:hover { 
            color: $link-highlight-color;
        }
        a:link { 
            -webkit-tap-highlight-color: transparent; 
        }
    }
}
