$bg_gray: #E8ECEF;
$gray: #f5f5f5;
$black: #1B2021;
$f_black: #1D1D1D;
$orange: #F68F3B;
$white: #fff;
/** font weights **/
$thin: 100;
$extra_light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;
$extra_bold: 800;
$fw_black: 900;

$border-red: 1px solid red;
$vectto-blue: #0077FA;    