 @import 'sass/util';
 
#__ixr[email-container] {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 5em;
    margin-top: 96px;
    a {
        text-decoration: none;  
    }
    @include media-breakpoint-down(md) {
        font-size: 1.2em;
        margin-top: 98px;
        a {
            display: block;
            width: 100%;
            margin: 0 auto;
            padding: 10px;
        }
    }
}