<div class="page_contents page_list">
	<p style="text-align:center;padding-top: 30px;">How I see the world around me... <i class="emoji smirk"></i></p>
	<ul id="photograffy_link_list"></ul>
	<script type="text/html" id="photograffy_list_tpl">
		<li>
			<a rel="external" target="_blank" href="{link}" rel="external" class="" title="{title}">	
				<picture><img src="images/fff.gif" alt="{link}" data-raf-src="{image_path}" alt="{title}"></picture>
				<span>{text}</span>
			</a>
		</li>
	</script>
	<div class="clr"></div>
</div>		