<div class="page_contents page_list">
	<p style="text-align:center;padding: 30px;">Some projects I was a part of.</p>
	<div id="raffy_projects_wrapper">
		<em class="loading">Getting contents...</em>	
	</div>

	<script type="text/html" id="project_item_tpl">
		<div class="unit one-quarter raffy_project_item">
			<a href="{link}" target="_blank">
				<img src="images/fff.gif" alt="{link}" data-raf-src="images/proj/{image}" alt="{header}">
				<span>{header}</span>
			</a>
		</div>
	</script>
	<div class="clr"></div>
</div>	