 @import 'sass/util';

.__ixr[contact-links] {
    margin-top: 200px;
    text-align: center;
    a {
        font-size: 0.7em;
        text-transform: uppercase; 
        display: inline-block;
        margin-right: 50px;
    }
    @include media-breakpoint-down(md) {
        margin-top: 160px;
        a {
            font-size: 0.9em;
            padding: 10px;
            margin-right: 0;
        }
    }
}